Package                       Version
----------------------------- ----------
celery                        4.4.7
celery-progress               0.0.14
Django                        3.1.2
django-celery-results         1.2.1
Jinja2                        2.10.3
pymongo                       3.11.0